@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
}

#total_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 90%;
  margin: auto;
}

.social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.logo-container img {
  width: 400px;
}

.logo-container {
  height: 10vh;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  width: 350px;
  height: 100px;
  color: black;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
}

.box:hover {
  background-color: #b6b6b6;
}

.box:focus {
  background-color: #b6b6b6;
}

.box:active {
  background-color: #b6b6b6;
}

.instagram {
  margin: 0px 2rem;
}

.fab,
.fas {
  color: black;
  margin-right: 20px;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  #total_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .social_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .instagram {
    margin: 20px 0px;
  }
  .logo-container img {
    width: 100%;
    margin: auto;
  }
  .box {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */