@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
}

// Main Wrapper
#total_wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: auto;
}

// Social Links Flex
.social_links {
  display: flex;
  width: 100%;
}

// Logo
.logo-container img {
  width: 400px;
}
.logo-container {
  height: 10vh;
}

// Box
.box {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  width: 350px;
  height: 100px;
  color: black;
  cursor: pointer;
  justify-content: center;
  font-size: 1rem;
  &:hover {
    background-color: rgb(182, 182, 182);
  }
  &:focus {
    background-color: rgb(182, 182, 182);
  }
  &:active {
    background-color: rgb(182, 182, 182);
  }
}

.instagram {
  margin: 0px 2rem;
}

// Icons
.fab,
.fas {
  color: black;
  margin-right: 20px;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  #total_wrapper {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  .social_links {
    flex-direction: column;
  }
  .instagram {
    margin: 20px 0px;
  }

  .logo-container img {
    width: 100%;
    margin: auto;
  }
  .box {
    width: 100%;
  }
}
